@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #304658;
}

/************************************/
/*            Nav Bar               */
/************************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #304658;
  z-index: 99;
}

img {
  width: 100px;
}

.container-mui {
  max-width: 1441px;
  margin: 0px auto;
}

.nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.nav-kanan {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.nav-kiri {
  display: flex;
  width: 80%;
}

.main-nav {
  list-style: none;
}

.nav-link-masuk {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 700px);
}

.main-nav-second {
  display: none;
}

.nav-kanan-second {
  align-items: center;
  display: none;
  width: 20%;
}

.nav-masuk a {
  background-color: #e2f3f4;
  font-size: 15px;
  display: block;
  margin-top: 0px;
  width: 100px;
  color: #333;
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 20%), 0px 2px 1px rgb(0 0 0 / 12%),
    0px 1px 1px rgb(0 0 0 / 14%) !important;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 30px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #e2f3f4;
  border-radius: 5px;
}

/*--- Hamburger Menu Animasi ---*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 2px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/*--- Responsif Navbar ---*/

@media screen and (max-width: 908px) {
  .main-nav,
  .nav-kanan {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  img {
    width: 80px;
  }

  section .main-nav-second {
    display: flex;
    background-color: #304658;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    align-items: left;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 20%), 0px 2px 1px rgb(0 0 0 / 12%),
      0px 1px 1px rgb(0 0 0 / 14%) !important;
    transform: translateX(100%);
    transition: all 1s;
  }

  .slide {
    transform: translateX(0);
    display: flex;
    background-color: #304658;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    align-items: left;
    transition: all 1s;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 20%), 0px 2px 1px rgb(0 0 0 / 12%),
      0px 1px 1px rgb(0 0 0 / 14%) !important;
  }
}

/************************************/
/*            Content               */
/************************************/

.content-1 {
  margin-left: 70px;
  margin-top: 140px;
  margin-right: 70px;
  color: #fff;
}

.content-1 p {
  color: #fff;
  font-style: normal;
  font-size: 40px;
}

.sign-in-button input[type="submit"] {
  background-color: #5098a8;
  font-size: 15px;
  display: block;
  margin-top: 20px;
  width: 250px;
  color: #304658;
  padding: 12px 10px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.content-2 {
  margin-top: 70px;
  margin-left: 70px;
  margin-right: 70px;
}
.content-2 p {
  color: #fff;
  font-style: normal;
  font-size: 25px;
}

.dropdown-class {
  background-color: #5098a8;
  border-radius: 10px;
}

.haha {
  margin-top: 10px;
}

.haha select {
  background-color: #5098a8;
  border-radius: 10px;
  border: none;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
}

.haha select option {
  color: #304658;
  font-size: 20px;
}

.dropdown-class p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ------------------------------ */
.flex-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding: 10px;
  flex: 15%;
  /* border: 1px solid #333; */
}

.class {
  margin: 10px;
  background-color: #5098a8;
  border-radius: 15px;
}

.class p {
  color: #fff;
  font-size: 20px;
}

.asset-img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  background-color: #bec5c7;
  border-radius: 15px 15px 0 0;
}

.ket {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

button {
  margin-left: 20px;
  padding: 5px;
  background-color: #597993;
  border-radius: 5px;
  border: none;
}

.box-meet {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.box-disc {
  display: flex;
  margin-left: 20px;
  background-color: #597993;
  border-radius: 5px;
  width: 15%;
  height: 15%;
}

.box-disc p {
  color: #5098a8;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
  font-size: 15px;
}

.detail-class {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.detail-class input {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  color: #5098a8;
  background-color: #597993;
  border-radius: 5px;
  border: none;
}

.box-meet input {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  background-color: #597993;
  color: #5098a8;
}

.line-break {
  padding-bottom: 20px;
}

hr {
  background-color: #333;
  border: 0.5px solid #333;
}

/*flexbox responsif*/
@media (max-width: 800px) {
  .flex-item {
    flex: 100%;
  }

  .content-2 {
    width: 80%;
  }
}
