@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #304658;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #304658;
    z-index: 99;
}

li{
    list-style-type: none;
}

ul{
    display: block;
    float: left;
}

ul a{
    display: block;
    text-align: center;
    padding: 16px 50px;
    text-decoration: none;
    color: #fff;
}


img{
    width: 100px;
}

.nav-kiri{
    display: inline-block;
    margin-left: 20px;
}

.nav-kanan{
    display: inline-block;
    margin-right: 0;
    text-align: center;
}

.nav-kanan a{
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
    float: right;    
}

.nav-kiri a:hover{
    background-color: #E2F3F4;
    color: #333;
}

.content-1{
    margin-left: 70px;
    margin-top: 80px;
    color: #fff;
}

.content-1 p{
    color: #fff;
    font-style: normal; 
    font-size: 50px;   
}

.sign-in-button input[type=submit] {
    background-color: #5098A8;
    font-size: 15px;
    display: block;
    margin-top: 20px;
    width: 250px;
    color: #304658;
    padding: 12px 10px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.content-2{
    background-color: #E2F3F4;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 30px;
    color: #333;
}

.content-2 p{
    padding: 30px 30px;
}

.benefit-content{
    margin-left: auto;
    margin-right: auto ;
    width: fit-content;
}

.benefit{
    width: 300px;
    display: inline-block;
    margin-right:60px;
}

.circle{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #304658;
    border-radius: 100%;
    margin-left: 30px;
    margin-bottom: 0;
}