@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body {
    background-color: #304658;
}

/*.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}*/

/*nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}*/

/*nav a:hover {
    font-weight: bold;    
}*/

/*nav ul {
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;  
}*/

.logo {
    width: 100px;
    display: inline-block;
    padding: 20px;
}

.card {
    border-radius: 30px;
    margin: 112px auto;
    width: 25%;
    padding: 20px;
    background-color: #E2F3F4;
}

.sign-in img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%; 
}

.sign-in input[type=email], input[type=password] {
    width: 90%;
    padding: 5px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: 1px solid #304658;
    margin: 5px 0 20px 15px;
    font-size: 15px;
}

.sign-in label {
    font-family: 'Roboto', sans-serif;
    color: #304658;
    font-size: 18px;
    display: block;
    margin: 14px 0 4px 15px;
}

input:focus {
    outline: none;
}

.auth-regist {
    margin-top: 80px;
    color: #304658;
    text-align: center;
}

.auth-regist a:link, a:visited {
    color: #304658;
    text-decoration: none;
}

.auth-regist a:hover {
    text-decoration: underline;
}

.sign-in-button input[type=submit] {
    background-color: #5098A8;
    font-size: 15px;
    width: 40%;
    display: block;
    margin: 10px auto 50px auto;
    color: #304658;
    padding: 12px 10px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}