<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="D:\1.kuliah\3.semester3\Pemweb\Praktikum\Project Pemweb\proyek-web-trondoll-1\css\landing-page.css">
    <title>Home</title>
</head>
<body>
    <!--<header>
        <nav class="nav-bar">
            <div>
                <a href="#">
                    <img src="../images/logo.png" class="logo" alt="logo perusahaan">
                </a>
            </div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#keuangan">Keuangan</a></li>
                <li><a href="#investasi">Investasi</a></li>
                <li><a href="#">Tentang Kami</a></li>
            </ul>
        </nav>
    </header>
    -->
    <nav style="box-shadow: red">
        <div class="nav-kiri">
            <li>
                <ul><a href="">Beranda</a></ul>
                <ul><a href="">Keuangan</a></ul>
                <ul><a href="">Investasi</a></ul>
                <ul><a href="">Tentang Kami</a></ul>
            </li>
        </div>
        <!--<div class="nav-kanan">
            <li>
                <ul><a href="">Masuk</a></ul>
            </li>
        </div>
        -->
    </nav>
    <div class="content-1">
        <p>Amankan <br>
            masa depan Keuangan <br>
            keluarga Anda.
        </p>
        <p style="margin-top: 10px; font-size: 20px; font-style:;">
            Belajar Investasi dan Keuangan Pribadi paling mudah untuk anak muda.
        </p>

        <div class="sign-in-button">
            <input type="submit" value="Selengkapnya">
        </div>
    </div>
    <div class="content-2">
        <p style="font-size: 25px; padding-left: 60px;">Keuntungan Belajar dengan KambeFinance</p>
        <div class="benefit-content">
            <div class="benefit">
                <div style="width: fit-content; text-align: center; justify-content: center;">
                    <div class="circle"></div>
                    <p style="display: inline-block; padding: 0 0;">Keuntungan 1</p>
                </div>
                <p style="text-align: justify; padding-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officia nam nisi pariatur dolore temporibus, vel rem beatae sapiente laboriosam asperiores quibusdam velit debitis repudiandae placeat? Quas laboriosam illum sed.</p>
            </div>
            <div class="benefit">
                <div style="width: fit-content">
                    <div class="circle"></div>
                    <p style="width: fit-content; display: inline-block; padding: 0 0;">Keuntungan 2</p>
                </div>
                <p style="text-align: justify; padding-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officia nam nisi pariatur dolore temporibus, vel rem beatae sapiente laboriosam asperiores quibusdam velit debitis repudiandae placeat? Quas laboriosam illum sed.</p>
            </div>
            <div class="benefit">
                <div style="width: fit-content">
                    <div class="circle"></div>
                    <p style="width: fit-content; display: inline-block; padding: 0 0;">Keuntungan 3</p>
                </div>
                <p style="text-align: justify; padding-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officia nam nisi pariatur dolore temporibus, vel rem beatae sapiente laboriosam asperiores quibusdam velit debitis repudiandae placeat? Quas laboriosam illum sed.</p>
            </div>
            <div class="benefit" style="margin-right: 0;">
                <div style="width: fit-content">
                    <div class="circle"></div>
                    <p style="width: fit-content; display: inline-block; padding: 0 0;">Keuntungan 4</p>
                </div>
                <p style="text-align: justify; padding-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officia nam nisi pariatur dolore temporibus, vel rem beatae sapiente laboriosam asperiores quibusdam velit debitis repudiandae placeat? Quas laboriosam illum sed.</p>
            </div>
        </div>
    </div>
</body>
</html>