<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div>
                <a href="#">
                    <img src="../images/logo.png" class="logo" alt="logo perusahaan">
                </a>
            </div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#keuangan">Keuangan</a></li>
                <li><a href="#investasi">Investasi</a></li>
                <li><a href="#">Tentang Kami</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>