<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing-page.css">
    <title>Home</title>
</head>
<body>
    <nav class="nav">
        <div class="container-mui nav-container">
            <div class="nav-kiri">
                <img src="logo.png" alt="" class="nav-log">
                
                <div class="main-nav">
                    <div style="display: inline-block; padding: 25px 40px 19px;"><a href="" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Beranda</a></div>
                    <div style="display: inline-block; padding: 25px 40px 19px;"><a href="" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Keuangan</a></div>
                    <div style="display: inline-block; padding: 25px 40px 19px;"><a href="" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Investasi</a></div>
                    <div style="display: inline-block; padding: 25px 40px 19px;"><a href="" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Tentang Kami</a></div>
                </div>
                
                <div class="main-nav-second">
                    <div style="display: inline-block; padding: 60px 40px 10px;"><a href="login.html" value="Masuk" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Masuk</a></div>
                    <div style="display: inline-block; padding: 25px 40px 10px;"><a href="" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Beranda</a></div>
                    <div style="display: inline-block; padding: 25px 40px 10px;"><a href="" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Keuangan</a></div>
                    <div style="display: inline-block; padding: 25px 40px 10px;"><a href="" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Investasi</a></div>
                    <div style="display: inline-block; padding: 25px 40px 10px;"><a href="" style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Tentang Kami</a></div>
                </div>
            </div>
            <div class="nav-kanan">
                <div class="nav-masuk">
                    <a href="login.html" value="Masuk"><p style="text-align: center; justify-content: center; text-decoration: none;">Masuk</p></a>
                </div>
            </div>

            <div class="menu-toggle">
                <input type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
    
    <div class="content-1">
        <p>Amankan <br>
            masa depan Keuangan <br>
            keluarga Anda.
        </p>
        <p style="margin-top: 10px; font-size: 20px;">
            Belajar Investasi dan Keuangan Pribadi paling mudah untuk anak muda.
        </p>

        <div class="sign-in-button">
            <input type="submit" value="Selengkapnya">
        </div>
    </div>
    
    <div class="content-2">
        <p style="font-size: 25px; padding-left: 60px;">Keuntungan Belajar dengan KambeFinance</p>
        <div class="flex-container">
            <div class="flex-item">
                <p style="display: inline-block; padding: 0 0;">Keuntungan 1</p>
                <p style="text-align: justify; padding-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officia nam nisi pariatur dolore temporibus, vel rem beatae sapiente laboriosam asperiores quibusdam velit debitis repudiandae placeat? Quas laboriosam illum sed.</p>
            </div>
            <div class="flex-item">
                <p style="width: fit-content; display: inline-block; padding: 0 0;">Keuntungan 2</p>
                <p style="text-align: justify; padding-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officia nam nisi pariatur dolore temporibus, vel rem beatae sapiente laboriosam asperiores quibusdam velit debitis repudiandae placeat? Quas laboriosam illum sed.</p>
            </div>
            <div class="flex-item">
                <p style="width: fit-content; display: inline-block; padding: 0 0;">Keuntungan 3</p>
                <p style="text-align: justify; padding-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officia nam nisi pariatur dolore temporibus, vel rem beatae sapiente laboriosam asperiores quibusdam velit debitis repudiandae placeat? Quas laboriosam illum sed.</p>
            </div>
            <div class="flex-item">
                <p style="width: fit-content; display: inline-block; padding: 0 0;">Keuntungan 4</p>
                <p style="text-align: justify; padding-top: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officia nam nisi pariatur dolore temporibus, vel rem beatae sapiente laboriosam asperiores quibusdam velit debitis repudiandae placeat? Quas laboriosam illum sed.</p>
            </div>
        </div>
    </div> 


    <script lang="javascript" type="text/javascript">
        const menuToggle = document.querySelector('.menu-toggle input');
        const section = document.querySelector('.main-nav-second');
        
        menuToggle.addEventListener('click', function(){
            section.classList.toggle('slide');
        });
    </script>
    <script>
        window.addEventListener('scroll',(e)=>{
            const nav = document.querySelector('.nav');
            if(window.pageYOffset>0){
            nav.classList.add("add-shadow");
            }else{
            nav.classList.remove("add-shadow");
            }
        });
    </script>
</body>
</html>