<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="D:\1.kuliah\3.semester3\Pemweb\Praktikum\Project Pemweb\proyek-web-trondoll-1\css\registrasi-akkun.css">
    <title>Registrasi Akun</title>
</head>
<body>
    <div class="main">
        <div class="border">    
        <form action="">    
            <div class="logo">
                <img src="../images/KambeFinance.PNG" alt="">
            </div>
            <div>
                <p>Nama</p>
                <input type="text" name="" required=""  style="
                background-color: transparent;">
            </div>
            <div>
                <p>Email</p>
                <input type="text" name="" required="" style="
                background-color: transparent;">
            </div>
            <div>
                <p>Password</p>
                <input type="password" name="" required="" style="
                background-color: transparent;">
            </div>
            <div>
                <p>Konfirmasi Password</p>
                <input type="password" name="" required="" style="
                background-color: transparent;">
            </div>
            <div>
                <p>No Telp.</p>
                <input type="number" name="" required="" style="
                background-color: transparent;">
            </div>
            <div class="sign-in-button">
                <input type="submit" name="" value="Registrasi">
            </div>
        </form>
        </div>
    </div>
</body>
</html>