@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Roboto;
}

html {
  scroll-behavior: smooth;
}

.content-banner {
  background-image: url(../img/konsultasi.png);
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 30px;
  padding-top: 150px;
}

.content-banner .btn {
  width: 20%;
  font-weight: bold;
  color: #304658;
  border-radius: 20px;
  font-size: 15px;
}

.content-banner h2 {
  color: #ffffff;
}

.wrapper {
  margin-top: 150px;
  background-color: #e2f3f4;
  width: 100%;
}

.content-title {
  text-align: center;
  margin: 50px 0 0 10px;
}

.content-title h3 {
  padding-top: 50px;
  color: #304658;
}

.card {
  background-color: #5098a8;
  border-radius: 5px;
  margin: 40px auto;
  width: 60%;
}

:root {
  --primary-color: #5098a8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px;
  border-radius: 8px;
  margin-top: 20px;
  color: #333333;
}

.tabel-tiga tr {
  background-color: #e2f3f4;
}

table td {
  color: #333333;
  padding: 10px;
}

.tabel-tiga tr:first-child {
  border-bottom: 3px solid #5098a8;
}

input[type="text"]:disabled, input[type="tel"]:disabled {
  background: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
  /* display: grid; */
  place-items: center;
  min-height: 100vh;
  /* background-color: #304658; */
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.width-25 {
  width: 25%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 32px 0 64px;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 1s;
}

.progress-step {
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 14px;
  color: #ffffff;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #ffffff;
}

/* Form */
.form {
  width: 60%;
  margin: 0 auto;
  padding: 24px;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

select,
input[type="date"] {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #5098a8;
}

select option {
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.tabel-jam {
  margin-bottom: 20px;
}

.tabel-jam td {
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.tabel-jam tr {
  border-bottom: 3px solid #5098a8;
}

.container-k {
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
  width: 100%;
}

.box {
  flex-wrap: wrap;
  margin: 20px;
  flex-grow: 1;
}

.first {
  flex-grow: 1;
  flex: 50%;
}

.second {
  flex-grow: 1;
  flex: 50%;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 20px;
}

.info {
  text-align: center;
  color: #ffffff;
  margin: 20px;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: auto auto;
  gap: 70%;
}

.btn {
  margin-top: 20px;
  padding: 12px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  background-color: #5098a8;
  color: #f3f3f3;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0 0 2px #ffffff;
  color: #304658;
}

.btn-book {
  padding: 5px 15px;
  background-color: #5098a8;
  color: #304658;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
