<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="D:\1.kuliah\3.semester3\Pemweb\Praktikum\Project Pemweb\proyek-web-trondoll-1\css\kelas.css">
    <title>Kelas</title>
</head>

<body>
    <nav style="box-shadow: red">
        <div class="container-mui nav-container">
            <div class="nav-kiri">
                <img src="D:\1.kuliah\3.semester3\Pemweb\Praktikum\Project Pemweb\proyek-web-trondoll-1\images\logo.png"
                    alt="" class="nav-log">

                <div class="main-nav">
                    <div style="display: inline-block; padding: 25px 40px 19px;"><a href=""
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Beranda</a>
                    </div>
                    <div style="display: inline-block; padding: 25px 40px 19px;"><a href=""
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Keuangan</a>
                    </div>
                    <div style="display: inline-block; padding: 25px 40px 19px;"><a href=""
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Investasi</a>
                    </div>
                    <div style="display: inline-block; padding: 25px 40px 19px;"><a href=""
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Tentang
                            Kami</a></div>
                </div>

                <div class="main-nav-second">
                    <div style="display: inline-block; padding: 60px 40px 10px;"><a href="login.html" value="Masuk"
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Masuk</a>
                    </div>
                    <div style="display: inline-block; padding: 25px 40px 10px;"><a href=""
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Beranda</a>
                    </div>
                    <div style="display: inline-block; padding: 25px 40px 10px;"><a href=""
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Keuangan</a>
                    </div>
                    <div style="display: inline-block; padding: 25px 40px 10px;"><a href=""
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Investasi</a>
                    </div>
                    <div style="display: inline-block; padding: 25px 40px 10px;"><a href=""
                            style="display: inline-block; font-size: 15px; letter-spacing: 0.14px; width: auto; text-decoration: none; color: #fff;">Tentang
                            Kami</a></div>
                </div>

            </div>
            <div class="nav-kanan">
                <div class="nav-masuk">
                    <a href="login.html" value="Masuk">
                        <p style="text-align: center; justify-content: center; text-decoration: none;">Masuk</p>
                    </a>
                </div>
            </div>

            <div class="menu-toggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>

    <div class="content-1">
        <p>Belajar Keuangan Pribadi, Investasi, dan<br>
            Proteksi Keuangan, kapan dan di mana saja !
        </p>
        <p style="margin-top: 10px; font-size: 20px;">
            Pilih kelas Kambefinance sesuai kebutuhanmu.
        </p>

        <div class="sign-in-button">
            <input type="submit" value="Selengkapnya">
        </div>
    </div>

    <div class="content-2">
        <p>Kelas Tersedia</p>
        <!-- <div class="dropdown-class"> -->
        <div class="haha">
            <select name="cars" id="cars">
                <option value="kelas1">Kelas 1</option>
                <option value="kelas2">Kelas 2</option>
                <option value="kelas3">Kelas 3</option>
              </select>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                <div class="class">
                    <div class="asset-img"></div>
                    <div class="ket">
                        <p style="text-align: left;">Kelas 1</p>
                        <p style="text-align: justify; padding-top: 10px; font-size: 15px;">Lorem ipsum iqno iwai</p>
                    </div>
                    <div class="box-meet">
                        <input type="submit" value="13 Pertemuan">
                    </div>
                    <div class="line-break">
                        <hr>
                    </div>
                    <div class="box-disc">
                        <p>50%</p>
                        <p style="color:#fff; margin-left: 5px;">Rp.200.000</p>
                    </div>
                    <div class="detail-class">
                        <input type="submit" value="Selengkapnya">
                    </div>
                </div>
            </div>
            <div class="flex-item">
                <div class="class">
                    <div class="asset-img"></div>
                    <div class="ket">
                        <p style="text-align: left;">Kelas 2</p>
                        <p style="text-align: justify; padding-top: 10px; font-size: 15px;">Lorem ipsum iqno iwai</p>
                    </div>
                    <div class="box-meet">
                        <input type="submit" value="13 Pertemuan">
                    </div>
                    <div class="line-break">
                        <hr>
                    </div>
                    <div class="box-disc">
                        <p>50%</p>
                        <p style="color:#fff; margin-left: 5px;">Rp.200.000</p>
                    </div>
                    <div class="detail-class">
                        <input type="submit" value="Selengkapnya">
                    </div>
                </div>
            </div>
            <div class="flex-item">
                <div class="class">
                    <div class="asset-img"></div>
                    <div class="ket">
                        <p style="text-align: left;">Kelas 3</p>
                        <p style="text-align: justify; padding-top: 10px; font-size: 15px;">Lorem ipsum iqno iwai</p>
                    </div>
                    <div class="box-meet">
                        <input type="submit" value="13 Pertemuan">
                    </div>
                    <div class="line-break">
                        <hr>
                    </div>
                    <div class="box-disc">
                        <p>50%</p>
                        <p style="color:#fff; margin-left: 5px;">Rp.200.000</p>
                    </div>
                    <div class="detail-class">
                        <input type="submit" value="Selengkapnya">
                    </div>
                </div>
            </div>
            <div class="flex-item">
                <div class="class">
                    <div class="asset-img"></div>
                    <div class="ket">
                        <p style="text-align: left;">Kelas 4</p>
                        <p style="text-align: justify; padding-top: 10px; font-size: 15px;">Lorem ipsum iqno iwai</p>
                    </div>
                    <div class="box-meet">
                        <input type="submit" value="13 Pertemuan">
                    </div>
                    <div class="line-break">
                        <hr>
                    </div>

                    <div class="box-disc">
                        <p>50%</p>
                        <p style="color:#fff; margin-left: 5px;">Rp.200.000</p>
                    </div>
                    <div class="detail-class">
                        <input type="submit" value="Selengkapnya">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script lang="javascript" type="text/javascript">
        const menuToggle = document.querySelector('.menu-toggle input');
        const section = document.querySelector('.main-nav-second');

        menuToggle.addEventListener('click', function () {
            section.classList.toggle('slide');
        });
    </script>
</body>

</html>